@keyframes subtitle{
    from{
        text-shadow: 1px 1px 0 red, -1px -1px 0 blue;
    }
    100% {
        text-shadow: 2px 2px 0 red, -2px -2px 0 blue;
    }
    /*to {
        text-shadow: 1px 1px 3px red, 1px 1px 4px blue;
    }*/
   
}